<li><%= message.user.email.split('@')[0] %> : <%= message.content %></li>
<% if current_user.has_role? :admin %>
  <%= message.user.name %> : <a href="/parsers?student=<%= message.user.student %>">홈</a>
<% end %>