<div class="col s12">
  <div class="card white darken-1">
    <div class="card-content dark-text">
      <span class="card-title"><%= strip_tags(CGI.unescapeHTML(notice_with_detail[1]).html_safe) %></span>
      <p>
        <%= CGI.unescapeHTML(notice_with_detail[4]).html_safe %>
      </p>
    </div>
    <div class="card-action">
      <a href="#">?</a>
    </div>
  </div>
</div>
