<div class="col s12">
  <div class="card-panel teal">
    <span class="white-text">
      아래는 검색하신 <%= find_by_key(notice, 'kornm') %> 학우님의 <%= find_by_key(notice, 'advyear') %>학년도
      <%= find_by_key(notice, 'advshtm') %>학기 수강과목을 중앙대학교 포탈에서 검색해서 가져온 결과 입니다.
    </span>
  </div>
</div>
