<div class="col s12">
  <div class="card-panel teal">
    <span class="white-text">
      아래는 검색하신 <%= notice[0] %> 학우님의 <%= notice[8] %>학년도
      <%= notice[9] %>학기 수강과목을 중앙대학교 포탈에서 검색해서 가져온 결과 입니다.
    </span>
  </div>
</div>
