<div class="col s12">
  <div class="card-panel teal">
    <span class="white-text">
      아래는 검색하신 <%= current_user.name %> 학우님의 <%= current_user.recent_year %>학년도
      <%= current_user.recent_semester %>학기 수강과목을 중앙대학교 포탈에서 검색해서 가져온 결과 입니다.
    </span>
  </div>
</div>
