<div class="main-frame">
  <div class="id-form">
    <nav>
      <div class="nav-wrapper white">
        <form action="/parsers">
          <div class="input-field">
            <input id="search" type="search" name="student" placeholder="학번을 입력하세요" required>
            <label class="label-icon" for="search"><i class="fa fa-search fa-2x fa-inverse"></i></label>
          </div>
        </form>
      </div>
    </nav>
  </div>
</div>
