<div class="main-frame">
  <div class="id-form">
    <nav>
      <div class="nav-wrapper white">
        <form action="/parsers">
          <div class="input-field">
            <input id="search" type="search" name="student" placeholder="본인의 학번을 입력하세요" autofocus="true" required>
            <button type="submit" class="btn"><i class="fa fa-search fa-xs fa-inverse"></i></button>
          </div>
        </form>
      </div>
    </nav>
  </div>
</div>
