<div class="container">
  <div class="row">
    <%= render :partial => "#{component('card', 'notice')}", :locals => {:notice => @student_data} %>
  </div>
  <div class="row">
    <%= render :partial => 'parsers/person' %>
    <%= render :partial => "#{component('card', 'notice_list')}", :locals => {:notice_list => @all_course_notice_list} %>
    <% @course_list.each do |course| %>
        <%= render :partial => "#{component('card', 'course')}", :locals => {:course => course} %>
    <% end %>
  </div>
</div>
