<div class="main-frame">
  <div class="id-form">
    <form action="/parser/show">
      <input id="id-field" type="text" name="student" placeholder="학번 입력하세요">
      <button id="id-button" type="submit">검색</button>
    </form>
  </div>
</div>
