// Place all the styles related to the classroom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media only screen and (min-width: 601px) {
  .course-card .card-content {
    height: 300px;
  }
}

.container.eclass-page .row {
  margin-bottom: 0px;
}

.container.eclass-page .row ul {
  margin-bottom: 0px;
}

.container.eclass-page .dropdown-button {
  margin: 0.5rem 0 0 0;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container.eclass-page .dropdown-content {
  margin: 0.5rem 0 1rem 0;
}

.content-video-modal {
  max-height: 75% !important;
}