// Place all the styles related to the parser controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-frame {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.id-form {
  width: 90vw;
}

.id-form form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.id-form form .input-field {
  width: 100%;
  display: flex;
}

.id-form form .input-field label i {
  color: #000;
}

.id-form form .input-field label.active i {
  color: #000;
}

.id-form form .input-field button {
   height: 100%;
 }

.id-form form .input-field button i {
  display: flex;
  justify-content: center;
  align-items: center;
}

#id-field {
  width: 70%;
  height: 35px;
  font-size: 30px;
}

#id-button {
  width: 20%;
  height: 40px;
  font-size: 30px;
}

.box {
  border: 1px solid black;
  padding: 20px;
}

.notice-collection {
  height: 30vh;
  overflow: scroll !important;
  -webkit-overflow-scrolling: touch;
}

.login-form {
  width: 90vw;
}

//only desktop
@media (min-width: 768px) {
  .id-form {
    width: 50vw;
  }

  .login-form {
    width: 50vw;
  }
}

