<div class="container">
  <div class="row">
    <%= render :partial => "#{component('card', 'content_detail')}", :locals => {:content_unit => @content_unit, :content_detail => @content_detail} %>
  </div>
</div>