<div class="container">
  <div class="row">
    <%= render :partial => "#{component('card', 'share_detail')}", :locals => {:share_unit => @share_unit, :share_detail => @share_detail} %>
  </div>
</div>