<div class="fixed-action-btn toolbar">
  <a class="btn-floating btn-large teal">
    <i class="fa fa-bars"></i>
  </a>
  <ul>
    <li class="waves-effect waves-light">
      <% if user_signed_in? and current_user.has_role? :admin %>
        <a href="/admin">관리자</a>
      <% else %>
        <a href="tel:1577-1577">Astro</a>
      <% end %>
    </li>
    <li class="waves-effect waves-light">
        <%= link_to '홈', parsers_path, data: { turbolinks: 'false' } %>
    </li>
    <li class="waves-effect waves-light">
      <% if user_signed_in? %>
        <%= link_to '로그아웃', destroy_user_session_path, method: 'delete' %>
      <% else %>
        <%= link_to '로그인', new_user_session_path %>
      <% end %>
    </li>
    <li class="waves-effect waves-light"><%= link_to '채팅', messages_path, class: 'btn btn-outline-primary' %></li>
  </ul>
</div>