<div class="fixed-action-btn toolbar">
  <a class="btn-floating btn-large teal">
    <i class="fa fa-bars"></i>
  </a>
  <ul>
    <li class="waves-effect waves-light"><a href="#!"><i class="fa fa-code"></i> 개발자</a></li>
    <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">format_quote</i></a></li>
    <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">publish</i></a></li>
    <li class="waves-effect waves-light"><a href="#!"><i class="fa fa-sticky-note-o"></i> 쪽지함</a></li>
  </ul>
</div>